/* styling the elements */

.container {
  position: sticky;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 100;
}

.header {
  background: #0F1425;
  display: flex;
  padding: 13px;
  align-items: center;
  height: 60px;
}

.header svg {
  cursor: pointer;
}

.logo {
  width: 95px;
  height: 30px;
  color: white;
}

.prompt {
  color: #FEC600;
}
  
.nav {
  color: white;
  flex: 1;
}
  
.nav ul {
  display: flex;
  margin: 5px 5px;
  padding: 0;
  gap: 27px;
  font-size: 14px;
}
  
.nav li {
  display: block;
  cursor: pointer;
  text-align: center;
  padding: 5px 0;
  border: solid transparent 0.1px;
  transition: 0.1s;
}
  
.arrowDown {
  border: solid rgb(255, 255, 255);
  border-width: 0 1.5px 1.5px 0;
  display: inline-block;
  padding: 2px;
  margin: 3px 5px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.nav li:first-of-type {
  margin-left: 10px;
  padding: 5px 7px;
}

.nav li:nth-of-type(6) {
  text-shadow: #0067ce 0px 0px 15px;
}

.nav li:nth-of-type(7) {
  flex: 1;
}

.nav li:nth-of-type(8) {
  padding: 5px 7px;
}

.nav li:nth-of-type(9) {
  padding: 5px 7px;
  background : #0153A7 ;
  border-radius: 8px;
}


/* adding the hover effect */

.nav li:nth-of-type(1):hover {
  border: solid rgb(139, 139, 139);  
  border-radius: 8px;
  border-width: 1px;
}

.nav li:nth-of-type(8):hover {
  border: solid rgb(139, 139, 139);  
  border-radius: 8px;
  border-width: 1px;
}

.nav li:nth-of-type(9):hover {
  border: solid rgb(99, 176, 206);  
  border-radius: 8px;
  border-width: 1px;
}

.nav li:nth-of-type(2):hover, .nav li:nth-of-type(3):hover,
.nav li:nth-of-type(4):hover, .nav li:nth-of-type(5):hover,
.nav li:nth-of-type(6):hover {
  color: rgb(79, 120, 255);
} 

/* styling the dropdown menu */

.dropDown {
  display: flex;  
  background: #22283d;
  flex-direction: column;
  border-radius: 5px;
  font-size: 14px;
  padding: 5px;
  border: solid rgb(139, 139, 139);  
  border-radius: 8px;
  border-width: 1px;
  margin: 10px 0 0 0;
}

.dropDown li {
  display: inline;
  padding: 10px;
  border-radius: 5px;
}

.dropDown li:hover {
  background: #0153A7;
  cursor: pointer;
}

.hiddenDropBox {
  position: absolute;  
  color: white;
  flex-direction: column;
  background: transparent;
  top: 45px;
  left: 122px;
}

.hamMenu {
  position: absolute;
  right: 10px;
  top: 7px;
  font-size: 31px;
  color: rgb(196, 196, 196);
  user-select: none;
}

.hamMenu:hover {
  color: white;
  cursor: pointer;
}

.hamList {
  position: absolute;
  top: 40px;
  right: 15px;
  display: flex;
  flex-direction: column;
  background: #22283d;
  border-radius: 5px;
  padding: 5px;
  color: white;  
  border-radius: 8px;
  margin: 10px 0 0 0;
  list-style: none;
  gap: 16px;
  padding: 20px 15px;
  font-size: 14px;
}

.hamList li:first-of-type , .hamList li:nth-of-type(2) {
  background : #0153A7 ;
  width: 65px;
  height: 35px;
  padding: 7px;
  border-radius: 7px;
}

.hamList li:nth-of-type(3) {
  color:rgb(196, 196, 196) ;
}

.hamList li:nth-of-type(4) , .hamList li:nth-of-type(5),
.hamList li:nth-of-type(6) , .hamList li:nth-of-type(7) {
  margin-left: 10px;
}

.hamList li:nth-of-type(12) {
  text-shadow: #0781fc 0px 0px 15px;
}


@media screen and (min-width: 780px) {
  .hamMenu {
    display: none;
  }
  .hamList {
    display: none;
  }
}

@media screen and (max-width: 779px) {
  .nav ul {
    display: none;
  }
}
  