

.tabs {
    -webkit-perspective: 1e3px;
    perspective: 1e3px;
}

.runButton {
    position: absolute;
    left: 50%;
    top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    background: #1C2232;
    color: green;
    fill: green;
    border: solid #343f5c 1px;
    border-radius: 4px;
    padding: 10px;
    -webkit-transform: translateX(-50%)translateZ(95px)translateY(0px)rotateX(30deg);
    transform:translateX(-50%)translateZ(95px)translateY(0px)rotateX(30deg);
    transition: 0.2s;
}

.runButton:hover {
    background: green;
    color: white;
    fill: white;
}

.runButton:active {
    -webkit-transform: translateX(-50%)translateZ(95px)translateY(0px)rotateX(30deg)scale(0.9);
    transform:translateX(-50%)translateZ(95px)translateY(0px)rotateX(30deg)scale(0.9);
}

.files {
    position: absolute;
    background: #1C2232;
    max-width: 500px;
    width: 300px;
    border: solid #343f5c 1px;
    top: 60px;
    left: 8%;
    -webkit-transform: translateX(15%)translateZ(90px)rotateX(30deg);
    transform: translateX(15%)translateZ(90px)rotateX(30deg);
    border-radius: 8px;
    color: white;
    height: 380px;
}

.head {
    background: #0153A7;
    font-size: 13px;
    padding: 7px 10px;
}

.body {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.body li {
    background:#292F41;
    list-style: none;
    border-radius: 5px;
    padding: 7px 10px;
    font-size: 13px;
}

.editor {
    position: absolute;
    padding: 10px;
    background: #1C2232;
    max-width: 500px;
    width: 65%;
    border: solid #343f5c 1px;
    top: 50px;
    left: 50%;
    -webkit-transform: translateX(-50%)translateZ(90px)rotateX(30deg);
    transform: translateX(-50%)translateZ(90px)rotateX(30deg);
    border-radius: 8px;
}

.tabs code {
    transform-style: preserve-3d;
    font-size: 11px;
    color: rgb(207, 207, 207);
}


/* codes' colors */
.codeBlue {
    color: #41e7fd;
}

.codeIndent {
    margin-left: 10px;
}

.codePink {
    color: rgb(236, 102, 124);
}

.codeYellow {
    color: rgb(255, 255, 108);
}

.codeGreen {
    color: #02912d;
}

.comment {
    color: rgb(89, 107, 131);
}

/* finish coloring codes */

.commandLine {
    position: absolute;
    background: #1C2232;
    max-width: 500px;
    width: 300px;
    padding: 10px;
    border: solid #343f5c 1px;
    top: 60px;
    right: 8%;
    -webkit-transform: translateX(-12%)translateZ(90px)rotateX(30deg);
    transform: translateX(-12%)translateZ(90px)rotateX(30deg);
    border-radius: 8px;
    color: #13C52B;
    height: 380px;
    z-index: -1;
    font-size: 15px;
}


@media screen and (max-width: 780px) {
    .runButton {
        border-radius: 50%;
    }
    .runButton span {
        display: none;
    }
}


@media screen and (max-width: 400px) {
    .editor {
        width: 50%;
        overflow: auto;
        height: 400px;
    }

    .files {
        width: 50%;
        overflow: auto;
    }
    .commandLine {
        width: 50%;
        overflow: auto;
    }
}