.container {
    /* background-color: #0F1425; */
    margin: 0;
    padding: 0;
    height: 500px;    
    width: 100%;
}

.bg {
    position: absolute;
    top: 10px;
    background-image: url("/replit-bg.svg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    background-color:#0F1425;
    width: 100%;
    height: 1300px;
    z-index: -1;
}

.title {
    display: block;
    width: 500px;
    margin: 0 0 0 130px;
    color: white;
}

.title h1 {
    font-size: 60px;
    margin: 0 0 10px 0;
    font-weight: 500;
    text-shadow: #024180 0px 0px 25px;
}

.body {
    font-size: 25px;
    margin-bottom: 15px;
    color:rgb(184, 184, 184);
}

.title button {
    background:#0153A7;
    border: solid 1px transparent;
    color: white;
    padding: 10px;
    border-radius: 8px;
    font-size: 16px;
}

.title button:hover {
    border: solid 1px rgb(99, 176, 206);
    cursor: pointer;
}



.tabs {
    -webkit-perspective: 1e3px;
    perspective: 1e3px;
}

.runButton {
    position: absolute;
    left: 50%;
    top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    background: #1C2232;
    color: green;
    fill: green;
    border: solid #343f5c 1px;
    border-radius: 4px;
    padding: 10px;
    -webkit-transform: translateX(-50%)translateZ(95px)translateY(0px)rotateX(30deg);
    transform:translateX(-50%)translateZ(95px)translateY(0px)rotateX(30deg);
    transition: 0.2s;
}

.runButton:hover {
    background: green;
    color: white;
    fill: white;
}

.runButton:active {
    -webkit-transform: translateX(-50%)translateZ(95px)translateY(0px)rotateX(30deg)scale(0.9);
    transform:translateX(-50%)translateZ(95px)translateY(0px)rotateX(30deg)scale(0.9);
}

.codeTab {
    position: absolute;
    padding: 10px;
    background: #1C2232;
    max-width: 500px;
    width: 65%;
    border: solid #343f5c 1px;
    top: 50px;
    left: 50%;
    -webkit-transform: translateX(-50%)translateZ(90px)rotateX(30deg);
    transform: translateX(-50%)translateZ(90px)rotateX(30deg);
    border-radius: 8px;
}

.tabs code {
    transform-style: preserve-3d;
    font-size: 11px;
    color: rgb(207, 207, 207);
}


/* codes' colors */
.codeBlue {
    color: #41e7fd;
}

.codeIndent {
    margin-left: 10px;
}

.codePink {
    color: rgb(236, 102, 124);
}

.codeYellow {
    color: rgb(255, 255, 108);
}

.codeGreen {
    color: #02912d;
}

.comment {
    color: rgb(89, 107, 131);
}

/* finish coloring codes */